<div class="container">
    {block name='hook_footer_before'}
      {hook h='displayFooterBefore'}
    {/block}
</div>
{* <div class="container">
  
</div> *}
<div>
</div>
<div class="footer-container">
  <div class="container">
    <h3 style="text-align:center">join us on instagram</h3>
    <p style="text-align:center">@blesscosmeticsofficial</p>
    <div id="instafeed"></div>
      {block name='hook_footer'}
        {hook h='displayFooter'}
      {/block}
  </div>
</div>
