/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

:root{
    --main-grey: #7a7a7a;
    --main-pink: #fadadc;
    --main-black: black;
    --dark-pink: #fc81a0;
    --main-blue: #7dc7ff;
}

 a{
     cursor: pointer;
     color: var(--dark-pink);
 }

#wrapper{
    background: #ffff!important;
    padding-top: 0!important;
}

#header{
    background: #fff;
    color: #7a7a7a;
    padding: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body, h1, h2, h3, h4, h5, p, span, a, address{
    font-family: Montserrat, sans-serif!important;
}

h1, h2, h3, h4, h5, span{
    text-transform: uppercase;
}

.separator{
    border-color: rgba(195, 195, 195, 0.25)!important;
}

#checkout #wrapper{
    padding-top: 3rem!important;
}

 .header-nav{
    max-height: none!important;
    padding: 1rem!important;
    border: none!important;
    margin-bottom: 0!important;
    box-shadow: none!important;
    display: flex;
    border: 0!important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0!important;
    background-color: white!important;
    padding: 1rem;
 }
 .header-nav::after{
     display: none;
 }

 .header-top{
     display: flex;
     justify-content: center;
     align-items:center;
     margin: 0!important;
 }

 #bottoneMenu{
     margin-top: 10px;
 }

 .menu a{
     background: transparent!important;
     color: #f4f4f4!important;
 }
 .menu > ul > li:not(:first-child){
     border: 0!important;
 }
 ol {
     display: flex;
    margin: 20px;
    counter-reset: item;
    list-style-type: none;
 }
 ol li:not(:first-child):before {
    content: ' >';
    counter-increment: item;
 }

 .language-selector{
     display: none!important;
 }
 .nav-info{
     display: flex!important;
 }

 #header .header-nav .user-info{
     margin-left: 0!important;
 }

 .cart-grid .bootstrap-touchspin input.form-control, 
 .cart-grid .bootstrap-touchspin input.input-group{
     width: 1rem!important;
 }
 .cart-preview .header,
 .user-info a, 
 .user-info a:visited, 
 .user-info a:hover{
     background: transparent!important;
     border: 0!important;
 }
 .header-nav .blockcart a.sidenav-trigger{
     position: relative;
 }

 .cart-counter{
    font-size: 0.6rem;
    font-weight: 800;
    position: absolute;
    top: 3px;
    right: -12px;
    background: var(--main-black);
    padding: 0px 7px;
    border-radius: 50%;
    color: white;
}

.cart-preview ul {
    margin: 0!important;
}

.logo img{
    max-height: 90px;
}

.logo-cont{
    position: absolute;
    left: calc(50% - 30px);
}

.sidenav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    display: none;
}

#header a:hover,
#header a:focus,
#header a:active {
    text-decoration: none;
    color: var(--main-pink)!important;
}
.sidenav{
    transition: all 0.3s ease-in-out;
    padding-top: 55px;
}

.sidenav li>a:hover,
.sidenav li>a:focus,
.sidenav li>a:active{
    background-color: rgb(21, 21, 21);
    color: white!important;
}


.sidenav li > a{
    text-transform: uppercase;
    font-size: 0.9rem!important;
    font-weight: 600;
    letter-spacing: 5px;
    padding-left: 55px;
    border-bottom: 1px #80808017 solid;
}
#sidenavCarrello.sidenav{
    right:0!important;
}
.sidenav-open{
    transform: translateX(0%)!important;
}

.overlay-open{
    display: block!important;
    opacity: 1!important;
}

.icona-carrello{
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.home-banner{
    z-index: 0;
    position: relative;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.home-banner .banner-text {
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-banner .banner-text span {
    font-family: Montserrat!important;
    color: #ffff!important;
    font-size: 4.5rem!important;
    font-weight: 800!important;
    line-height: 4rem!important;
}

.home-banner .banner-text span:nth-child(2) {
    font-weight: 100!important;
}

.home-banner .banner-text span:nth-child(4) {
    font-weight: 100!important;
    font-size: 2rem!important;
}


.footer-elements{
    display: flex;
    justify-content: space-between;
}
.footer-elements > div{
    display: flex;
    flex-direction: column;
}

.links-container:last-child{
    text-align: right;
}

.footer-elements .links-container:last-child{
    order: 2; 
}

.footer-elements .logo-footer{
    order: 2;
}

.logo-footer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-footer a{
    text-align: center;
}

.footer-container{
    padding-top: 4rem!important;
    padding-bottom: 4rem;
}

.footer-elements h3{
    color: var(--main-grey)!important;
    letter-spacing: 1px!important;
    margin-bottom: 0.8rem!important;
    font-size: 1rem!important;
}

.block-social{
    margin-top: 1rem;
}

.block-social ul > li{
    background-size: cover;
    height: 1.8rem!important;
    width: 1.8rem!important;
    background-color: var(--main-black)!important;
}

.block-social li:hover{
    background-color: var(--main-pink)!important;
}

.footer-container li a:hover,
.footer-container li a:focus,
.footer-container li a:active {
    color: var(--main-pink)!important;
}

#instagramfeed{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#instagramfeed > a div{
    width: 200px;
    height: 200px;
}

.footer-container {
    position: relative;
    background: #f6f6f6;
    box-shadow: none!important;
    background: transparent
}

.footer-container::before{
    content: "";
    background: #f6f6f6;
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-elements{
    margin-top: 5rem;
}

.block_newsletter{
    display: flex;
    background: #fc81a0;
    color: white!important;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.newsletter_text{
    width: 40%;
}

.newsletter_text h3{
    font-size: 1.5rem;
}

.newsletter_text p{
    color: white!important;
}

.block_newsletter form{
    width: 50%;
    margin: 0;
}
.block_newsletter form input[type=text] {
    background: white!important;
    border: 0!important;
    box-shadow: none!important;
    margin: 0!important;
}

.block_newsletter form .btn{
    width: 12%;
    border: none;
    box-shadow: none;
    background: black;
    height: 70px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide a, .slick-slide img {
    width: 90%!important;
    margin: 0 auto!important;
}

.slick-slide{
    height: auto;
}

#instafeed .slick-slide div{
    min-height: 200px;
  }
  
  #instafeed .slick-slide > div{
    padding:10px;
  }

.rss_slider_text{
    padding: 1rem 5px;
    background: #f7f7f7;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    min-height: 100px;
    width: 90%;
    margin: 0 auto;
}

.rss_slider_text a{
    color: var(--main-grey)!important;
}

#footer{
    padding-top: 6.5rem!important;
}

.page-home .top-cat.container,
.page-home .bottom-cat.container {
    display: flex;
    justify-content: center;
}

.top-cat-img-container{
    width: 50%;
    padding: 10px;
    color: var(--main-black);
}

.bottom-cat-img-container{
    width: 100%;
    padding: 10px;
    color: var(--main-black);
}
.bottom-cat-img-container img,
.top-cat-img-container img{
    width: 100%;
}

.bottom-cat{
    margin-bottom: 5rem;
}

.home-cat-actions{
    margin-top: 20px;
    text-align: center;
}

.home-cat-actions h2{
    letter-spacing: 5px;
}

#checkout #wrapper .btn.btn-primary,
.mybtn{
    text-transform: uppercase!important;
    font-weight: bold!important;
    font-size: 12px!important;
    background: none!important;
    border: 2px solid black!important;
    padding: 5px 22px!important;
    color: black!important;
    transition: all 0.2s ease-in-out;
}
#checkout #wrapper .btn.btn-primary:hover,
.mybtn:hover{
    background: black!important;
    color: white!important;
}

.promo-notification{
    width:100%;
    padding: 2rem 3rem;
    background: var(--dark-pink);
    text-align: center;
}

.promo-notification p{
    color: white!important;
    margin: 0!important;
}

.kit-section{
    padding: 4rem 0;
    width: 100%;
    background: var(--main-blue);
}

.kit-section .container{
    display: flex;
    justify-content: center;
}

.kit-section .img-container{
    width: 50%;
}

.kit-section .text-container{
    width: 50%;
}

.kit-section .text-container h3,
.kit-section .text-container p{
    color: white!important;
}

.kit-section .text-container .mybtn{
    color: white!important;
    border: 2px solid white!important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background: transparent!important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
    border: none!important;
}

[type="radio"]:not(:checked) + span::before, [type="radio"]:not(:checked) + span::after{
    border: none!important;
}

.product-variants [type="radio"]:not(:checked)+span, 
.product-variants [type="radio"]:checked+span {
    width: 60px!important;
    height: 60px!important;
}

.product-variants li.input-container{
    height: 60px;
    margin-bottom: 7px;
}

.product-variants li.input-container label{
    height: 60px;
    position: relative;
}

.product-variants li.input-container label .sr-only{
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: unset;
    border: 0;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-variants li.input-container label {
    color: white!important;
    text-align: center!important;
    font-size: .875rem;
}

.product-variants>.product-variants-item ul li {
    margin-right: .1rem!important;
}

.product-quantity .qty > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after,
.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after,
.product-quantity .qty > div button i{
    color: black!important;
}

.btn.btn-touchspin.js-touchspin.js-increase-product-quantity.bootstrap-touchspin-up,
.btn.btn-touchspin.js-touchspin.js-decrease-product-quantity.bootstrap-touchspin-down{
    box-shadow: none!important;
}
.product-quantity #quantity_wanted{
    padding: 0 8px !important;
    margin: 0;
    border: 0;
}
.product-quantity .btn.btn-touchspin{
    box-shadow: none;
    border: 0;
}

.product-title{
    font-weight: 600!important;
    letter-spacing: 9px!important;
}

.current-price span[itemprop="price"]{
    font-size: 25px!important;
    font-weight: 600!important;
    color: black!important;
    letter-spacing: 3px!important;
}

.has-discount .discount{
    background: var(--dark-pink)!important;
}
.product-prices .tax-shipping-delivery-label{
    display: none;
}

.product-add-to-cart .product-quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-add-to-cart .product-quantity .qty{
    display: flex;
    align-items: flex-end;
}

.product-add-to-cart .product-quantity .qty .control-label{
    margin-right: 1rem;
    width: auto!important;
}

.product-add-to-cart .add{
    margin-top: 1.5rem;
}

.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb:hover {
    border: 3px solid var(--dark-pink)!important;
}

.product-accessories .product-title{
    letter-spacing: 2px!important;
}

.product-accessories .product-miniature .discount-percentage.discount-percentage{
    background: var(--dark-pink)!important;
}
.has-discount.product-price{
    color: var(--main-black)!important;
}
.checkout.cart-detailed-actions.card-block{
    display: flex;
    justify-content: center;
}

.checkout.cart-detailed-actions.card-block .mybtn{
    font-size: 1rem!important;
}

.custom-radio input[type=radio]:checked+span{
    background-color: var(--dark-pink)!important;
}

input.js-cart-line-product-quantity.form-control{
    padding: 0 3px!important;
}

.input-group.bootstrap-touchspin{
    box-shadow: none!important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid var(--dark-pink)!important;
    -webkit-box-shadow: 0 1px 0 0 var(--dark-pink)!important;
    box-shadow: 0 1px 0 0 var(--dark-pink)!important;
}
.page-footer{
    background-color: transparent!important;
}
.cart-grid-body{
    padding-bottom: 1rem!important;
}
.cart-grid-body .card{
    border: 0!important;
    box-shadow: none!important;
}
.cart-grid-body .separator{
    display: none;
}   

.cart-grid-body .card-block h1{
    text-align: center!important;
}

.top-cat {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.promo-notification{
    margin-bottom: 3rem;
}

.kit-section{
    margin: 3rem 0;
}
.card,
body#checkout section.checkout-step,
.color, 
.custom-checkbox input[type=checkbox]+span.color,
#products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container,
.product-images>li.thumb-container > .thumb,
.product-cover img{
    box-shadow: 0px 2px 12px 0px #e8e8e8!important;
}
.top-cat-img-container{
    width: 100%;
    text-align: center;
    color: var(--main-black);
}

.cart-grid.row{
    display: flex;
}

.cart-grid button.js-increase-product-quantity,
.cart-grid button.js-decrease-product-quantity,
.cart-grid .bootstrap-touchspin input.form-control{
    border: 0!important;
}
.card.cart-summary,
.cart-grid-body {
    box-shadow:0px 2px 12px 0px #e8e8e8!important;
}

.card.cart-summary{
    margin: 0;
    border: 0!important;
}

.block-promo .promo-code{
    background: #f6f6f6!important;
}
#checkout .custom-radio input[type=radio]:checked+span,
#checkout .custom-radio input[type=radio]:checked+span{
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    padding: 0!important;
}
.input-group,
.input-group:focus,
.input-group:focus input,
input:focus,
input:active{
    outline: none!important;
    border: 0!important;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    display: none!important;
}

#checkout-personal-information-step .custom-checkbox{
    display: none!important;
}
.input-group .input-group-btn>.btn[data-action=show-password]{
    background: var(--dark-pink)!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {  
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.custom-checkbox > span{
    padding: 0!important;
}

.page-my-account #content .links a:hover i {
    color: var(--main-pink)!important;
}

.page-customer-account h1{
    text-align:center!important;
}

.page-customer-account #wrapper{
    padding-top:1.5rem!important;
}

#contact #content{
    width: 80%!important;
    margin: 0 auto!important;
    border: 0!important;
}

#contact #main{
    padding-top: 1rem;
}

#contact .form-control-select{
    background: white!important;
}

#contact .form-control{
    border: 1.3px solid black!important;
    background: white!important;
}

#contact textarea{
    height: 6rem!important;
}

#products .product-miniature .discount-amount.discount-amount, #products .product-miniature .discount-amount.discount-percentage, #products .product-miniature .discount-percentage.discount-amount, #products .product-miniature .discount-percentage.discount-percentage, #products .product-miniature .on-sale.discount-amount, #products .product-miniature .on-sale.discount-percentage, #products .product-miniature .online-only.discount-amount, #products .product-miniature .online-only.discount-percentage, #products .product-miniature .pack.discount-amount, #products .product-miniature .pack.discount-percentage, #products .product-miniature .product-flags .new.discount-amount, #products .product-miniature .product-flags .new.discount-percentage, .featured-products .product-miniature .discount-amount.discount-amount, .featured-products .product-miniature .discount-amount.discount-percentage, .featured-products .product-miniature .discount-percentage.discount-amount, .featured-products .product-miniature .discount-percentage.discount-percentage, .featured-products .product-miniature .on-sale.discount-amount, .featured-products .product-miniature .on-sale.discount-percentage, .featured-products .product-miniature .online-only.discount-amount, .featured-products .product-miniature .online-only.discount-percentage, .featured-products .product-miniature .pack.discount-amount, .featured-products .product-miniature .pack.discount-percentage, .featured-products .product-miniature .product-flags .new.discount-amount, .featured-products .product-miniature .product-flags .new.discount-percentage, .product-accessories .product-miniature .discount-amount.discount-amount, .product-accessories .product-miniature .discount-amount.discount-percentage, .product-accessories .product-miniature .discount-percentage.discount-amount, .product-accessories .product-miniature .discount-percentage.discount-percentage, .product-accessories .product-miniature .on-sale.discount-amount, .product-accessories .product-miniature .on-sale.discount-percentage, .product-accessories .product-miniature .online-only.discount-amount, .product-accessories .product-miniature .online-only.discount-percentage, .product-accessories .product-miniature .pack.discount-amount, .product-accessories .product-miniature .pack.discount-percentage, .product-accessories .product-miniature .product-flags .new.discount-amount, .product-accessories .product-miniature .product-flags .new.discount-percentage, .product-miniature .product-miniature .discount-amount.discount-amount, .product-miniature .product-miniature .discount-amount.discount-percentage, .product-miniature .product-miniature .discount-percentage.discount-amount, .product-miniature .product-miniature .discount-percentage.discount-percentage, .product-miniature .product-miniature .on-sale.discount-amount, .product-miniature .product-miniature .on-sale.discount-percentage, .product-miniature .product-miniature .online-only.discount-amount, .product-miniature .product-miniature .online-only.discount-percentage, .product-miniature .product-miniature .pack.discount-amount, .product-miniature .product-miniature .pack.discount-percentage, .product-miniature .product-miniature .product-flags .new.discount-amount, .product-miniature .product-miniature .product-flags .new.discount-percentage{
    background: var(--dark-pink)!important;
}

.variant-links{
    bottom: -50px;
    top: auto!important;
    transition: 0.3s;
}

.variant-links .color{
    width: 2rem!important;
    height: 2rem!important;
    margin: 0!important;
}

.thumbnail-container:hover .variant-links{
    bottom: 0;
}

.caricamento-file > .col-md-6 > .input-group > span label{
    background: none;
    color: black;
  }

/* ----------------- MEDIA QUERIES -------------------- */


@media (min-width: 996px){
    
    #index #content-wrapper{
        padding-top: 0px!important;
    }

    #content-wrapper{
        padding-top: 5rem;
    }
}


@media (max-width: 767px){
    #header {
        background: #fff!important;
    }
    #index #content-wrapper{
        padding-top: 0px!important;
    }

    #content-wrapper{
        padding-top: 2rem;
    }
}

@media (max-width: 450px){
    #contact #content {
        width: 95%!important;
    }
    .kit-section .text-container{
        margin-top: 2rem;
    }
    .home-banner > .container{
        transform: translateY(-2rem);
    }
    footer#footer > .container{
        width: 100%!important;
    }
    .product-title{
        letter-spacing: 3px!important;
    }
    .cart-grid.row{
        flex-direction: column;
    }
    #footer > .container{
        padding: 0;
    }
    .home-banner{
        align-items: flex-end;
    }
    .bottom-cat-img-container,
    .top-cat-img-container{
        margin-bottom: 1.2rem;
    }
    .home-banner .banner-text span{
        font-size: 2.8rem!important;
        line-height: 2.5rem!important;
    }
    .home-banner .banner-text span:nth-child(4){
        font-size: 1rem!important;
    }
    .kit-section .img-container,
    .kit-section .text-container,
    .top-cat-img-container{
        width: 100%;
    }
    .kit-section .container,
    .bottom-cat,
    .top-cat{
        flex-direction: column;
    }

    .input-group.bootstrap-touchspin{
        display: flex!important;
        box-shadow: none!important;
    }
    .product-add-to-cart div.add{
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        background: white;
        margin: 0;
        padding: 1rem;
    }
    .block_newsletter{
        flex-direction: column;
        padding: 1rem;
    }
    .newsletter_text,
    .block_newsletter form {
        width: 100%;
        margin: 1rem 0;
    }
    .footer-elements{
        flex-direction: column;
    }
    .footer-elements .logo-footer,
    .footer-elements .links-container:last-child{
        order: 0; 
    }

    .footer-elements .logo-footer{
        position: relative;
    }
    
    .footer-elements .links-container{
        text-align: center;
        margin-top: 1rem;
    }

    .product-images-container,
    .product-actions-container {
        margin-bottom: 4rem;
    }
    .product-variants{
        margin: 3rem 0;
    }
    .product-accessories .thumbnail-container,
    .product-accessories .product-miniature,
    .product-accessories .product-description{
        width: 100%!important;
    }

    .product-accessories .thumbnail-container{
        display: flex;
        justify-content: center;
    }
}