<div id="blockcart-wrapper">
  <div class="blockcart cart-preview" data-refresh-url="{$refresh_url}">
    <div class="header icona-carrello">
      <a href="{$urls.pages.cart}?action=show" id="bottoneCarrello" class="sidenav-trigger">
        <i class="material-icons">shopping_basket</i>
        {if $cart.products_count}
        <span class="cart-counter">{$cart.products_count}</span>
        {/if}
      </a> 
    </div>
      {* <ul id="sidenavCarrello" class="sidenav">
        {if !$cart.products_count}
          <h5>Il Carrello e' vuoto</h5>
        {else}
        {foreach from=$cart.products item=product}
          <li>{include 'module:ps_shoppingcart/ps_shoppingcart-product-line.tpl' product=$product}</li>
        {/foreach}
        <li>
          <div class="cart-subtotals">
            {foreach from=$cart.subtotals item="subtotal"}
              <div class="{$subtotal.type}">
                <span class="label">{$subtotal.label}</span>
                <span class="value">{$subtotal.amount}</span>
              </div>
            {/foreach}
          </div>
        </li>
        <li>
          <div class="cart-total">
            <span class="label">{$cart.totals.total.label}</span>
            <span class="value">{$cart.totals.total.amount}</span>
          </div>
        </li>
        {/if}
      </ul> *}
  </div>
</div>


